@using BrokerPremium.Core.Models
@model PolicyEditViewModel

@{
    ViewData["Title"] = "Add New Policy";
    var items = ViewBag.TypeOfInsuranceItems;
}

<a class="navbar-brand" asp-area="" asp-controller="Policy" asp-action="AddPolicy">BrokerPremium</a>
<partial name="_PolicyPartial" />
