@using BrokerPremium.Core.Models
@model PolicyEditViewModel

@{
    ViewData["Title"] = "Add New Policy";
}

<a class="navbar-brand" asp-area="" asp-controller="Policy" asp-action="AddPoicy">BrokerPremium</a>
<partial name="_PolicyPartial" />
