@using BrokerPremium.Core.Models
@model PolicyEditViewModel

@{
    ViewData["Title"] = "Edit Policy";
}

<a class="navbar-brand" asp-area="" asp-controller="Policy" asp-action="EditPolicy">BrokerPremium</a>
<partial name="_PolicyPartial" />
