@using BrokerPremium.Core.Models
@model IEnumerable<PolicyListViewModel>

<a class="navbar-brand" asp-area="" asp-controller="Policy" asp-action="PolicyList">BrokerPremium</a>
<partial name="_PolicyListPartial" />