<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="\" class = "nav-link">
            <i class = "nav-icon fas fa-home"></i>
            <p>
                Home
            </p>
            </a>
           </li>
           <li class="nav-item">
            <a href="\admin" class = "nav-link">
            <i class = "nav-icon fab fa-creative-commons-remix"></i>
            <p>
                Admin
            </p>
            </a>
           </li>
           <li class="nav-item">
            <a href="\admin\user\manageusers" class = "nav-link">
            <i class = "nav-icon fas fa-user"></i>
            <p>
                Admin Users
            </p>
            </a>
           </li>
           <li class="nav-item">
            <a href="\customer\customerlist" class = "nav-link">
            <i class = "nav-icon fas fa-user-friends"></i>
            <p>
                Customer List
            </p>
            </a>
           </li>
           <li class="nav-item">
            <a href="\customer\addcustomer" class = "nav-link">
            <i class = "nav-icon fas fa-handshake"></i>
            <p>
                Add Customer
            </p>
            </a>
           </li>
           <li class="nav-item">
            <a href="\policy\policylist" class = "nav-link">
            <i class = "nav-icon fas fa-coffee"></i>
            <p>
                List all policies
            </p>
            </a>
           </li>
        </ul>
      </nav>
      
