@using BrokerPremium.Core.Models
@model CustomerEditViewModel

@{
    ViewData["Title"] = "Add New Customer";
}

<a class="navbar-brand" asp-area="" asp-controller="Customer" asp-action="AddCustomer">BrokerPremium</a>
<partial name="_CustomerPartial" />
