@using BrokerPremium.Core.Models
@model CustomerEditViewModel

@{
    ViewData["Title"] = "Add New Customer";
}

<a class="navbar-brand" asp-area="" asp-controller="Customer" asp-action="AddCustomer">BrokerPremium</a>
<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Identificator" class="form-label"></label>
                <input asp-for="Identificator" class="form-control" aria-required="true" />
                <span asp-validation-for="Identificator" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="IsCompany" class="form-label"></label>
                <input asp-for="IsCompany" class="form-control" aria-required="true" />
                <span asp-validation-for="IsCompany" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"  aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control"  aria-required="true" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Telefon" class="form-label"></label>
                <input asp-for="Telefon" class="form-control"  aria-required="true" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"  aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="DateValidFrom" class="form-label"></label>
                <input asp-for="DateValidFrom" class="form-control"  aria-required="true" />
                <span asp-validation-for="DateValidFrom" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
